$colorTeal : #3CBBB499;
$colorYellow : #F9AD1D99;
$colorWhite : white;

@mixin opinion-people($bg) {
    background-color: $bg;
    width: 30px ;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 35% !important;;
    left: 0;
    line-height: 33px;
    text-align: center;

    img{
        width: 16px !important;;
        height: 16px !important;;
    }
}

@mixin percentage-bar-card($bg) {
    height: 36px;
    margin: 0px !important;
    background: $bg;
}

@mixin tex-percentage-bar-card() {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    color: $colorWhite;
}

.container-card{
    position: relative;
    width:31%;
    height: 348px;
    background-size: 100% 100%;
    background-position-x: 100% !important;
    background-position-x: center;
    background-repeat: no-repeat;
    margin: 0px 0% 25px 25px;
    float: left;

    @media screen and (max-width : 1340px) {
        width: 348px;
        margin: 0px 0% 25px 5px;
    }
    @media screen and (max-width : 830px) {
        margin: 0px 0% 25px 16px;
    }
    
}


.btn-my-vote-card-like{
    @include opinion-people($colorTeal);
}
.btn-my-vote-card-not-like{
    @include opinion-people($colorYellow);
}


.container-detail-card{
    width: 100%;
    padding-top: 115px;
}

.text-card{
    width: 85%;
    padding-left: 20px;
    margin: 0 auto;
    color: $colorWhite;
    height: 130px;
    // background-color: red;
    p{
        margin: 0;
        padding: 0;
    }
    
    .name-card{
        font-family: Lato;
        font-size: 36px;
        text-align: left;
    }
    
    .description-card{
        font-family: Lato;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
    }
}

.buttons-card{
    color: $colorWhite;
    text-align: right;
    width: 91%;

    .category-card{
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        padding: 0;
        margin: 0;
        position: relative;
    }

    button{
        border: none;
        height: 30px;
        margin-left: 10px;
        margin-top: 10px;
        cursor: pointer;
        
        img{
            width: 16px;
            height: 16px;
        }
    }

    .btn-like-card{
        background-color: $colorTeal;
        width: D;
    }
    .btn-not-like-card{
        background-color: $colorYellow;
        width: 30px;
    }
    .btn-vote-now-card{
        width: 107px;
        height: 30px;
        background: rgba(48, 48, 48, 0.6);
        border: 1px solid $colorWhite;
        color: $colorWhite;  
        font-size: 15px;
        p{
            padding: 0;
            margin: 0;
        }
    }
}

.container-percentage-card{
    width: 100%;
    margin-top: 11px;
}

.teal-card{
    @include percentage-bar-card($colorTeal);
    p{
        @include tex-percentage-bar-card();
        margin: 10px 0px 0px 30px;
    }
    img{
        margin-right: 10px !important;;
        width: 15px !important;;
        height: 15px !important;;
    }
}
.yellow-card{
    @include percentage-bar-card($colorYellow);
    p{
        @include tex-percentage-bar-card();
        float: right;
        margin: 10px 30px 0px 0;
    }
    img{
        margin-left: 10px !important;;
        width: 15px !important;;
        height: 15px !important;;
    }
}