.container-celebrities{
    width: 80%;
    margin: 0 auto;
    

    @media screen and (max-width : 1042px) {
        width: 85%;
    }

    @media screen and (max-width : 990px) {
        width: 92%;
    }
    @media screen and (max-width : 832px) {
        width: 95%;
    }
}

.container-options-celebrities-card{
    width: 82%;
    margin: 0 auto !important;
    // padding: 30px 0px 30px 0px;
    
    div{
       
        float: left;
        // margin-bottom: 30px;
    }

    .title-celebrities-card{
        width: 50%;
        font-family: Lato;
        font-size: 45px;
        color: #464646;
        height: 60px;

        p{
            margin: 0;
            padding: 0;
        }

    }

    .option-celebrities-card{
        width: 50%;
        height: 60px;
        padding-top: 10px;
        text-align: right;
        select{
            width: 173px !important ;
            padding: 5px;
            font-size: 20px;
            margin: 0;

        }
        
    }
    
    @media screen and (max-width : 1230px) {
        width: 800px;
    }

    @media screen and (max-width : 866px) {
        width: 92%;
    }
    
}

.container-celebrities-card-info{
    margin: 0 auto !important;
    width: 100%;

    @media screen and (max-width : 1400px) {
        width: 85%;
    }

    @media screen and (max-width : 1300px) {
        width: 90%;
    }
    @media screen and (max-width : 1230px) {
        width: 750px;
    }

    @media screen and (max-width : 866px) {
        width: 90%;
    }
    @media screen and (max-width : 820px) {
        width: 95%;
    }
    @media screen and (max-width : 780px) {
        width: 98%;
    }
}

.container-options-celebrities{
    width: 100%;
    // padding: 30px 0px 30px 0px;
    
    div{
       
        float: left;
        // margin-bottom: 30px;
    }

    .title-celebrities{
        width: 50%;
        font-family: Lato;
        font-size: 45px;
        color: #464646;
        height: 60px;

        p{
            margin: 0;
            padding: 0;
        }
        @media screen and (max-width : 860px) {
            width: 70%;
        }

    }
    .option-celebrities{
        width: 50%;
        height: 60px;
        padding-top: 10px;
        text-align: right;
        select{
            width: 173px !important ;
            padding: 5px;
            font-size: 20px;
            margin: 0;

        }

        @media screen and (max-width : 860px) {
            width: 30%;
        }
        
    }
}