.container-celebrities{
    width: 80%;
    margin: 0 auto;
    

    @media screen and (max-width : 1042px) {
        width: 85%;
    }

    @media screen and (max-width : 990px) {
        width: 92%;
    }
    @media screen and (max-width : 832px) {
        width: 95%;
    }
}

.container-celebrities-card{
    width: 83%;
    margin: 0 auto;
    
    @media screen and (max-width : 1318px) {
        width: 85%;
    }
    @media screen and (max-width : 1268px) {
        width: 87%;
    }
    @media screen and (max-width : 1218px) {
        width: 95%;
    }


}

.container-text-celebrities{
    margin-top: 30px;
    background: #EBEBEB;
    height: 50px;
    font-family: Lato;
    font-size: 18px;
    text-align: left;
    color: #464646;
    padding: 20px;

    .first-text-celebrities{
        width: 20%;
        float: left;

        b{
            font-size: 27px; 
        }
    }
    .second-text-celebrities{
        float: left;
        width: 77%;
    }
    .close-text-celebrities{
        font-size: 20px;
        float: left;
        width: 2%;
        padding-top: 1%;
        cursor: pointer;
        position: relative;
        top: 10%;
        left: 20px;
    }

    @media screen and (max-width : 1300px) {
        height: 80px;
    }

    @media screen and (max-width : 1000px) {
        height: 90px;
        padding-top: 40px;
        .first-text-celebrities{
            font-size: 14px; 
        }
        .second-text-celebrities{
            width: 80%;
        }
        .close-text-celebrities{
        display: none;
        }
    }

    @media screen and (max-width : 770px) {
        .second-text-celebrities{
            width: 80%;
            left: 5%;
            position: relative;
        }
        .close-text-celebrities{
        display: none;
        }
    }

    @media screen and (max-width : 750px) {

        height: 150px;
        padding-top: 40px;

        .first-text-celebrities{
            width: 35%;
            padding-top: 40px;
        }
        .second-text-celebrities{
            width: 65%; 
            left: 0%;
            position: relative;
            padding-top: 20px;
        }

    }

    @media screen and (max-width : 480px) {
        height: 250px;
        .first-text-celebrities{
            width: 40%;
            padding-top: 40px;
        }

        .second-text-celebrities{
            width: 60%;
            padding-top: 0px;
        }

    }

}

.container-celebrities-card-info{
    margin: 0 auto !important;
    width: 1200px !important;
    position: relative;
    right: 20px;

    @media screen and (max-width : 1272px) {
        width: 1095px !important;
        // right: 5px;
    }
    @media screen and (max-width : 1153px) {
        width: 750px !important;
        right: 5px;
    }

    @media screen and (max-width : 770px) {
        // right: 8px;
    }
}

.container-options-celebrities{
    width: 100%;
    padding: 30px 0px 30px 0px;
    
    div{
       
        float: left;
    }

    .title-celebrities{
        width: 50%;
        font-family: Lato;
        font-size: 45px;
        color: #464646;
        height: 60px;

        p{
            margin: 0;
            padding: 0;
        }
        @media screen and (max-width : 860px) {
            width: 70%;
        }
        @media screen and (max-width : 760px) {
            width: 100%;
            font-size: 24px;
            height: 0px;
        }

    }
    .option-celebrities{
        width: 50%;
        height: 60px;
        padding-top: 10px;
        text-align: right;
        
        select{
            width: 173px !important ;
            padding: 5px;
            font-size: 20px;
            margin: 0;

            @media screen and (max-width :767px) {
                display: none;
            }
            

        }

        @media screen and (max-width : 860px) {
            width: 30%;
        }
        
    }
}
.carousel-container {
    width: 100% !important;
   }