$primaryColor : red;
$list : 1,2,3;
$textColor : white;
$map: (
    xl: 1200px,
    lg: 992px,
    md: 768px,
    sm: 620px,
    xm: 576px,
);

@mixin text($breakpoint) {
    text-align: center;
    color: $textColor; 

    &:hover{
        color: green
    }

    @media screen and (max-width : $breakpoint) {
        color: red;
    }

}

.container{
    width: 100%;
}

.col{
    float: left;
    margin: 10px;
    height: 200px;
    background-color: blue;
}


@for $i from 1 through 20{
    .cols-#{$i * 5}{
        width: $i * 5%;
        float: left;
        margin: 10px;
        height: 200px;
        background-color: blue;
    }
}

@media screen and (max-width : map-get($map, xl)) {
    @for $i from 1 through 20{
        .cols-xl-#{$i * 5}{
            width: $i * 5% ;
        }
    }
}

@media screen and (max-width : map-get($map, lg)) {
    @for $i from 1 through 20{
        .cols-lg-#{$i * 5}{
            width: $i * 5% ;
        }
    }
}

@media screen and (max-width : map-get($map, md)) {
    @for $i from 1 through 20{
        .cols-md-#{$i * 5}{
            width: $i * 5% ;
        }
    }
}

@media screen and (max-width : map-get($map, sm)) {
    @for $i from 1 through 20{
        .cols-sm-#{$i * 5}{
            width: $i * 5% ;
        }
    }
}

@media screen and (max-width : map-get($map, xm)) {
    @for $i from 1 through 20{
        .cols-xm-#{$i * 5}{
            width: $i * 5% ;
        }
    }
}



h1{
    @include text(640px);
}   
