.header{
    width: 100%;
    height: 700px;
    background-image: url(../../../img/pope.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    box-shadow: inset  0px 100px 50px rgba(0,0,0,0.6);
    -moz-box-shadow: inset  0px 100px 50px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset  0px 100px 50px rgba(0,0,0,0.6);
    -o-box-shadow: inset  0px 100px 50px rgba(0,0,0,0.6);

    @media screen and (max-width : 990px) {
        background-image: url(../../../img/pope_table.png);
        background-size: 100% 100%;
        height: 480px;
    }


    @media screen and (max-width : 768px) {
        height: 463px;
    }


    @media screen and (max-width : 582px) {
        background-image: url(../../../img/pope_movil.png);
        background-position-x: 100%;
        height: 515px;
    }

    @media screen and (max-width : 500px) {
        background-size: cover;
        background-position: 50%;
    }
    
}



.header-menu{
    width: 75%;
    margin: 0 auto;
    padding-top: 10px;


    @media screen and (max-width : 990px) {
        width: 85%;
        padding-top: 0px;
    }

    @media screen and (max-width : 880px) {
        width: 95%;
    }
    @media screen and (max-width : 830px) {
        width: 90%;
    }
}

.header-title{
    width: 30%;
    float: left;
    text-align: left;
    font-family: Lato;
    font-size: 36px;
    color: #FFFFFF;
    height: 65px;

    @media screen and (max-width : 830px) {
        width: 70%;
    }

    @media screen and (max-width : 400px) {
        font-size: 26px;

    }

}

.header-option{
    height: 65px;
    width: 70%;
    float: left;
    text-align: right;
    margin-top: 20px;

    
    .header-option-app{
        display: none;
        
        img{
            width: 25px;
            height: 25px;
        }
    }

    li{
        text-decoration: none;
        list-style: none;
        display: inline-block;
        margin-left: 30px;
        font-family: Lato;
        font-size: 18px;
        text-align: left;
        color: #FFFFFF;
    }

    img{
        height: 36px;
        width: 36px;
        position: relative;
        top: 10px;

    }

    @media screen and (max-width : 830px) {
        width: 30%;

        .header-option-desktop{
            display: none;
        }
        .header-option-app{
            display: block;
        }
       
    }

}

.header-card{
    width: 100%;
    float: left;
    position: relative;
    top: 50px;
    left: 12%;

    @media screen and (max-width : 990px) {
        left: 8%;
        top: 0px;
    }

    @media screen and (max-width : 880px) {
        left: 3%;
    }

    @media screen and (max-width : 830px) {
        left: 5%;
    }
}


.header-close{
    background: rgba(255, 255, 255, 0.4);
    position: relative;
    width: 100%;
    float: left;
    height: 52px !important;
    margin-top: 79px;

    .header-close-info{
        float: left;
        width: 415px;
        background: rgba(0, 0, 0, 0.4);
        font-family: Lato;
        font-size: 24px;
        text-align: right;
        color: #FFFFFF;
        padding-top: 12px;
        padding-bottom: 12px;

        img{
            position: relative;
            left: 9px;
        }

        @media screen and (max-width : 768px) {
            width: 249px;
            font-size: 12px;
            padding-top: 9px;
            padding-bottom: 9px;

            img{
                top: 3px;
            }

        }
        @media screen and (max-width : 400px) {
            width: 120px;
        }
    }
    .header-close-day{
        height: 54px;
        float: left;
        font-family: Lato;
        font-size: 36px;
        text-align: left;
        padding-left: 20px;
        padding-top: 5px;
        color: #464646;

        @media screen and (max-width : 768px) {
            font-size: 18px;
            padding-top: 10px;
            height: 36px;
        }
    }

    @media screen and (max-width : 990px) {
        margin-top: 22px;
        height: 36px;
    }



}