@import './components/grid';
@import './components/header';
@import './components/footer';
@import './components/list';
@import './components/Card';
@import './components/cardImportant';
@import './components/celebrities';

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.border-btn{
    border: 1px solid white !important;
}

button{
    cursor: pointer;
}